$slider-height: dynamic(28px);

$toggleslider-width: dynamic(48px);
$toggleslider-width-big: dynamic(48px);
$toggleslider-track-height: dynamic($slider-height);
$toggleslider-track-height-big: dynamic($slider-height);

$toggleslider-track-border-radius: dynamic($slider-height);
$toggleslider-track-border-radius-big: dynamic($slider-height);

$toggleslider-track-border-width: dynamic(1px);
$toggleslider-track-border-style: dynamic(solid);
$toggleslider-track-border-color: dynamic($overlay-color);

$thumb-height: dynamic($slider-height);
$thumb-height-big: dynamic($slider-height);
$thumb-width: dynamic($slider-height);
$thumb-width-big: dynamic($slider-height);
$thumb-background-color: dynamic($background-color);
$thumb-border-width: dynamic(1px);
$thumb-border-style: dynamic(solid);
$thumb-border-color: dynamic($base-color);
$thumb-box-shadow: dynamic(none);
$thumb-box-shadow-big: dynamic(none);

$toggleslider-track-background-color: dynamic($faded-color);
$toggleslider-fill-background-color: dynamic($base-color);
$toggleslider-disabled-fill-background-color: dynamic(null);
$toggleslider-fill-border-width: dynamic(1px);
$toggleslider-fill-border-color: dynamic($base-color);
$toggleslider-disabled-fill-border-color: dynamic(null);

$thumb-toggle-on-ui: dynamic((
    background-color: $background-color
));

$thumb-toggle-off-ui: dynamic((
    background-color: $background-color
    //border-color: $faded-color
));
