
.x-home {

    .x-home-info {
        padding: 10px;
        font-size: 16px;
        text-align: center;
        white-space: pre-wrap;

        > * > div:first-child {
            margin: 10px 0;
            font-weight: 500;
            font-size: 18px;
        }
    }
}
